/* Popins fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Inter fonts import */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* Shared style */
.display-flex{
    display: flex;
}

/* header related style */
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 87px 120px 0;
}
.navbar{
    max-width:1200px ;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.brand-name{
    max-width: 243px;
}
.brand-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.menubar{
    gap: 34px ;
    list-style: none;
}
.menu-item a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 500;
}
/* journey part releted style */
.journey-container{
    gap: 133px;
    margin-bottom: 69px;
}
.journey-content{
    padding: 70px 0 74px 0;
}
.journey{
    max-height: 270px;
    width: 582px;
}
.journey .journey-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    color: #3A3A3A;
    margin-bottom: 1rem;
}
.journey-description{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 1rem;
}
.btn{
    padding: 10px 24px;
    border-radius:41px ;
    background: #E02C6D;
    color: #FFF;
    border: none;
}
.journey-images{
    background-image: url(images/Circle\ design.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.journey-images img{
    width: 100%;
}
/* company container releted style */
.company-container{
    
    background: linear-gradient(
        90deg,
        rgba(192, 204, 218, 0.1) 0%,
        rgba(192, 204, 218, 0.6) 50%,
        rgba(192, 204, 218, 0.1) 100%
    );
    
}
.company-logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 61px;
    margin-bottom: 100px;
    padding: 36px 62px;
}
/* popular card section releted style */
.popular-container{
    max-width: 1047px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.container-title{
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    color: #3A3A3A;
    margin-bottom: 30px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.card{
    max-height: 476px;
    max-width: 327px;
    padding: 14px;
    border-radius: 5%;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
}
.card img{
    width: 100%;
    border-radius: 5px;
}
.card-title{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    color: #18191f;
}
.card-price{
     font-family: "Inter", sans-serif;
     font-size: 1.5rem; 
     line-height: 150%;
     color: #000;
}
.card-description{
     font-family: "Inter", sans-serif;
     font-size: 0.9rem;
     line-height: 143%;
     letter-spacing: 1.8%;
     color: #787885;


}
.btn-text {
    color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    justify-content: flex-end;
    margin-top: 10px;
}

/* Feture section releted style */
.feuture-container{
    margin-bottom: 100px;
}
.future-content{
    max-width: 1110px;
    margin: 0 auto;
    gap: 96px;
}
.future-images{
    max-width: 404px;
    border-radius: 7px;
}
.content{
    margin: auto 0;
    max-width: 610px;
}
.title{
    font-size: 2.37rem;
    font-weight: 700;
    line-height: 60px;
    color:#0A0826 ;
    margin-bottom: 16px;
}
.description{
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 16px;
}
.btn-primary{
    padding: 10px 24px;
    background: #E02C6D;
    color: #FFF;
    border: none;
}

/* Mobile device responsive designe */
@media screen and (max-width:576px) {
    .container{
    padding: 17px 20px ;
}
    .navbar{
        flex-direction: column;
        gap: 20px;
        
    }
    .journey-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .journey{
    width: 100%;
}
.journey-content,
.journey-images{
    width: 100%;
}
.company-container{
    padding: 16px 12px;
}
.company-logo{
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.card-container{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.card{
    max-height: 100%;
    max-width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    
}
.future-images{
    max-width: 100%;
}
.feuture-container{
    margin-bottom: 30px;
}
.future-content{
    gap: 30px;
     flex-direction: column-reverse;
     text-align: center;
     padding: 20px;
}
.content{
    width: 100%;
}

    
}